* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #ff77e9;
    background-image: linear-gradient(315deg, #ff77e9 0%, #ff99ac 74%);
    color: #ffffff;
    line-height: 1.4;
    padding: 20px;
    font-size: 0.8rem;
}
header {
    background-color: #000;
    color: #00ffea;
    padding: 20px 0;
    text-align: center;
}
section {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 255, 234, 0.7);
    margin: 20px auto;
    max-width: 800px;
}
h1, h2, h3, h4 {
    margin-bottom: 20px;
}
ol, li {
    margin-bottom: 20px;
    padding: 10px;
}
ol li {
    background: rgba(255, 255, 255, 0.1);
    border-left: 5px solid #ffcc00;
    list-style-type: decimal;
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
}
ol li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    width: 5px;
    height: 100%;
    background-color: #ffcc00;
    transform: translateY(-50%);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Aumento del margen inferior */
}
th, td {
    border: 2px solid #ffcc00;
    padding: 10px; /* Aumento del padding para más espacio */
    text-align: left;
    font-size: 0.8rem;
}
th {
    background-color: rgba(0, 255, 234, 0.5);
}
input[type="text"], textarea {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 0.8rem;
}
.change-page-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #ff007f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
}
.change-page-button:hover {
    background-color: #ff4500;
}
button[type="submit"] {
    position: fixed;
    bottom: 20px; /* Ajusta la posición vertical según tu preferencia */
    right: 20px; /* Ajusta la posición horizontal según tu preferencia */
    background-color: #ff007f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
}

button[type="submit"]:hover {
    background-color: #ff4500;
}
